<section id="featured-product" class="container">
  <header>
    <h1>Hello <%= current_user.first_name if user_signed_in? %> and welcome to H-ASH PC Store</h1>
  </header>

  <div id="featured_products_carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% @featured_products.length.times do |i| %>
      <li data-target="#featured_products_carousel" data-slide-to="<%= i.to_s %>" class="<%= 'active' if i == 0 %>"></li>
      <% end %>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <% @featured_products.each_with_index do |featured_product, i| %>
      <div class="item <%= 'active' if i == 0 %>">
        <%= image_tag featured_product.image_url, class: "img-responsive", alt: featured_product.description %>
        <div class="overlay" >
          <h3><%= featured_product.name%></h3>
          <p><%= featured_product.description%></p>
        </div>
        <div class="carousel-caption">
        </div>
      </div>
      <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#featured_products_carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#featured_products_carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <br>
  <br>
  <br>
</section><!-- end - featured product section-->