<section id="about" class="container">
  <hr>

  <h1>H-ASH PC Hardware Store</h1>
  <h2>Why go to Amazon when you have us :p</h2>
  <h3> This time is from ruby(server) <%= Time.now %> </h3>
  <p> static_page content will replace <code>yield</code> in application.html.erb </p>
  <hr>
</section><!-- end - main section -->

<section id="prodcut-list" class="product-list container">
  <ul class="row">
    <li class="col-sm-4">
      <div>
        <%= image_tag("product.jpeg", {class: "img-responsive", alt: "Lenovo123"}) %>
        <a href="www.google.com" target="_blank"><h3>Lenovo 123123</h3></a>
        <ul class="product-features">
          <li>i7</li>
          <li>8 GB RAM</li>
          <li>GTX 1060</li>
        </ul>
        <a class="btn btn-primary">Add to Cart</a>
      </div>
    </li>
    <li class="col-sm-4">
      <div>
        <%= image_tag("product.jpeg", {class: "img-responsive", alt: "Lenovo123"}) %>
        <a href="www.google.com" target="_blank"><h3>Lenovo 123123</h3></a>
        <ul class="product-features">
          <li>i7</li>
          <li>8 GB RAM</li>
          <li>GTX 1060</li>
        </ul>
        <a class="btn btn-primary">Add to Cart</a>
      </div>
    </li>
    <li class="col-sm-4">
      <div>
        <%= image_tag("product.jpeg", {class: "img-responsive", alt: "Lenovo123"}) %>
        <a href="www.google.com" target="_blank"><h3>Lenovo 123123</h3></a>
        <ul class="product-features">
          <li>i7</li>
          <li>8 GB RAM</li>
          <li>GTX 1060</li>
        </ul>
        <a class="btn btn-primary">Add to Cart</a>
      </div>
    </li>
    <li class="col-sm-4">
      <div>
        <%= image_tag("product.jpeg", {class: "img-responsive", alt: "Lenovo123"}) %>
        <a href="www.google.com" target="_blank"><h3>Lenovo 123123</h3></a>
        <ul class="product-features">
          <li>i7</li>
          <li>8 GB RAM</li>
          <li>GTX 1060</li>
        </ul>
        <a class="btn btn-primary">Add to Cart</a>
      </div>
    </li>
    <li class="col-sm-4">
      <div>
        <%= image_tag("product.jpeg", {class: "img-responsive", alt: "Lenovo123"}) %>
        <a href="www.google.com" target="_blank"><h3>Lenovo 123123</h3></a>
        <ul class="product-features">
          <li>i7</li>
          <li>8 GB RAM</li>
          <li>GTX 1060</li>
        </ul>
        <a class="btn btn-primary">Add to Cart</a>
      </div>
    </li>
  </ul>
</section>
