<section class="container margin-bottom-md">
  <header>
    <h1><%= @user.first_name + ' ' + @user.last_name %></h1>
  </header>
  <p>
    <strong>First name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @user.last_name %>
  </p>

  <p>
    <strong>Email: </strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Admin: </strong>
    <%= @user.admin %>
  </p>

  <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary' %> |
  <%= link_to 'Users', users_path, class: 'btn btn-primary' %>

</section><!-- end - show single user-->