<% orders ||= @orders %>
<section class="container margin-bottom-md">
  <header>
    <h1>Orders</h1>
  </header>

  <table class="table">
    <thead>
      <tr>
        <th>Order ID</th>
        <%= "<th>User ID</th>".html_safe if current_user.admin? %>
        <%= "<th>User full name</th>".html_safe if current_user.admin? %>
        <th>Status</th>
        <th>Total Cost</th>
        <th>Operations</th>
      </tr>
    </thead>

    <tbody>
      <% orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
            <%= ("<td>" + order.user.id.to_s + "</td>").html_safe if current_user.admin? %>
            <%= ("<td>" + order.user.full_name + "</td>").html_safe if current_user.admin? %>
          <td><%= order.status.status_type %></td>
          <td>$<%= order.total_cost_in_dollars %></td>
          <td class="text-center">
            <% if order.status.status_type == 'active'%>
              <%= link_to 'Pay With Card', [@user, order], class: 'btn btn-success'%>
            <% end %>
            <% if current_user.admin? %>
              <%= link_to 'Destroy', [@user, order], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%#= link_to 'New Order', new_order_path, class: 'btn btn-primary' %>

</section><!-- end - Orders Dashboard -->