<div>
  <a class="product-image" href="/products/<%= product.id%>"><%= image_tag product.image_url, class: "img-responsive", alt: product.description%></a>
  <%= link_to "#{product.name}", product, class: 'product-name' %>
  <span class="rated" data-score="<%= product.compute_average %>"></span>
  <p class="product-description"><%= product.description %></p>
  <ul class="product-feature-list">
    <% product.features.split("|||").each do |feature| %>
    <li><%= feature %></li>
    <% end %>
  </ul>
  <p class="product-price">Price: <%= product.price %>$</p>
  <% if current_user && current_user.admin? %>
    <%= link_to 'Edit', edit_product_path(product.id), class: 'btn btn-warning'%>
  <% end %>
  <button class="btn btn-primary">Add To Cart</button>
</div>